@font-face 
    font-family ColtherBold 
    font-style normal
    src url(../fonts/TRY_Clother-Bold.ttf)

@font-face 
    font-family ColtherRegular 
    font-style normal
    src url(../fonts/TRY_Clother-Regular.ttf)

*
    margin 0
    padding 0


html
body
    // position fixed
    top 0
    left 0
    width 100%
    height 100%
    overflow hidden

header
    width 100vw
    // position fixed

nav
    // width 100%
    padding 0 5%
    display flex
    justify-content space-between
    align-items center
    font-family ColtherRegular
    border-bottom 1px solid #fff
    background #000
    color #FFF
    z-index 10
    h1
        span
            font-family ColtherBold
            color #000000
            // border 2px solid #fff
            -webkit-text-stroke: 1px #fff
    ul
        display flex
        justify-content space-between
        align-items center
        list-style none
        li
            padding /* 10px */ 20px
