@font-face 
    font-family ColtherBold 
    src url(../fonts/TRY_Clother-Bold.ttf)

@font-face 
    font-family ColtherRegular 
    src url(../fonts/TRY_Clother-Regular.ttf)

@font-face 
    font-family ColtherLight 
    src url(../fonts/TRY_Clother-Light.ttf)

html
body
    margin 0
    padding 0
    width 100%
    height 100%
    overflow hidden
    font-family ColtherRegular
    scroll-behavior smooth

canvas
    width 100%
    z-index 5

.loader
    // display none
    display flex
    width 100vw
    height 100vh
    background #000
    color white
    flex-direction column
    justify-content center
    align-items center
    span
        padding 5% 0
        font-size 2em
    .loader__bar
        width 60%
        height 1%
        background #fff
        // animation loadAnimation 5s
        transform-origin 0.0

header
    display block
    width 100vw
    position fixed
    border-bottom 1px solid #fff
    background #000
    z-index: 10
    nav
        width 90%
        margin 0 auto
        // padding 0 5%
        display flex
        justify-content space-between
        align-items center
        font-family ColtherRegular
        color #FFF
        a
            color #fff
            text-decoration none
        button
            position relative
            -webkit-appearance none
            background none
            font-size 1em
            border none
            color #fff
            cursor pointer
            &:hover:after
                content ' '
                position absolute
                width 120%
                height .2vw
                top 100%
                left -10%
                background #fff
                animation underlineAnimation .5s
            &:focus
                outline none
        h1
            font-family ColtherBold
            span
                font-family ColtherBold
                color #000000
                -webkit-text-stroke 1px #fff
        ul
            display flex
            justify-content space-between
            align-items center
            list-style none
            li
                padding 20px
                &:nth-child(4)
                    padding-right 0

main
    display block
    z-index 1
    section
        width 100vw
        // height 100vh

.instruction
    height 100vh
    position absolute
    background #00000090
    display flex
    align-items center
    justify-content center
    z-index 20
    .instruction__content
        color #fff
        background #000
        border 1px solid #fff
        padding 5% 10%
        // animation test .7s
        // animation-delay 5s
        h2
            text-align center
            margin-top 0
        table
            width max-content
            padding 10% 0
            margin 0 auto
            tbody
                width 100%
                display flex
                flex-direction column
                tr
                    padding 5% 0
                    th
                        div
                            width 3vw
                            height 3vw
                            display flex
                            justify-content center
                            align-items center
                            border 1px solid #fff
                    td
                        width 100%
                        padding-left 20%
        button
            width 100%
            padding 5%
            background #fff
            color #000
            font-size 1em
            -webkit-appearance none
            transition .3s
            cursor pointer
            &:focus
                outline none
            &:hover
                background #000
                color #fff
                transition .3s

.projects
    display none
    position absolute
    background transparent
    top 0
    animation desactivate .7s
    article 
        width 100vw
        height 100vh
        display flex
        align-items center
        justify-content center
        color #fff
        background #000
        .projects__content
            width 90%
            display flex
            align-items center
            justify-content space-between
            .content__left
                width 70%
                display flex
                align-items center
                img
                    width 100%
                    height 100%
            .content__bar
                width .5%
                height 50vh
                background #fff
                margin 0 5%
            .content__right
                width 70%
                display flex
                flex-direction column
                justify-content space-between
                h1
                    margin-top 0
                    margin-bottom 1%
                    font-family ColtherBold
                    font-size 2em
                small
                    margin-bottom 2%
                    font-family ColtherLight
                p
                    font-family ColtherRegular
                a
                    width max-content
                    color #fff
                    text-decoration none
                    padding 15px
                    border 1px solid #fff
                    transition .3s
                    &:hover
                        background #fff
                        color #000

.contact
    height 100vh
    display none
    align-items center
    justify-content center
    background #000
    color #fff
    position absolute
    top 0
    .contact__content
        width 90%
        display flex
        // justify-content space-between
        margin-top 5%
        .content__left
            width 100%
            padding-right 5%
            p
                margin-block-start auto
        .content__right
            width 100%
            padding-left 5%
            input
                width -webkit-fill-available
                padding 2%
                font-size 1em
                background #000
                border 1px solid #fff
                color #fff
                &:focus
                    outline none
            textarea
                width -webkit-fill-available
                padding 2%
                font-size 1em
                background #000
                border 1px solid #fff
                color #fff
                resize none
                &:focus
                    outline none
            button
                width 100%
                padding 2%
                margin-top 5%
                font-size 1em
                color #000
                background #fff
                text-transform uppercase
                transition .5s
                -webkit-appearance none
                cursor pointer
                &:hover
                    background #000
                    color #fff
                    transition .5s
            h2
                margin-bottom 2%
                &:nth-child(1)
                    margin-block-start auto




.active
    display block
    animation opacity .7s

.desactive
    // display none
    animation desactivate .7s

@keyframes opacity {
    from {opacity: 0}
    to {opacity: 1}
    // from {transform: translateX(-100vw)}
    // to {transform: translateX(0)}
    }

@keyframes desactivate {
    from {opacity: 1}
    to {opacity: 0}
    // from {transform: translateX(-100vw)}
    // to {transform: translateX(0)}
    }

@keyframes underlineAnimation{
    from {transform: scaleX(0)}
    to {transform: scaleX(1)}
    }

@keyframes test{
    0% {transform: scaleY(1)}
    50% {transform: scaleY(0) scaleX(1) }
    100% {transform: scaleY(0.001) scaleX(3); background: #fff}
    }

// @keyframes loadAnimation{
//     0% {transform: scaleX(0)}
//     60% {transform: scaleX(.3)}
//     90% {transform: scaleX(.35)}
//     100% {transform: scaleX(1)}
//     }